.list-recipe-container {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  max-height: 100vh;
  overflow-y: scroll;
  display: block;
  position: relative;
  padding-top: 70px;
}
::-webkit-scrollbar {
  background-color: rgba(128, 0, 128, 0.363);
  width: 5px;
}
.list-recipe-add {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 7px 10px;
  border: none;
  background-color: #5ebceb;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  font-size: 17px;
}
