.list-recipe-container {
  background-color: rgb(147, 150, 160);
  max-height: 100vh;
  overflow-y: scroll;
  display: block;
  position: relative;
  padding-top: 70px;
}
::-webkit-scrollbar {
  background-color: rgba(43, 220, 243, 0.397);
  width: 5px;
}
.list-recipe-add {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 7px 10px;
  border: none;
  background-color: rgb(34, 32, 131);
  cursor: pointer;
  color: white;
  border-radius: 3px;
  font-size: 17px;
}
