.recipe-editor-container {
  /* background-color: blue; */
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow-y: scroll;
}
.recipe-editor-container h3 {
  font-weight: 200;
  font-size: 30px;
}
.recipe-editor-container button {
  border:none;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 3px;
}
.recipe-editor-container button.add{
  background-color: rgba(117, 216, 203, 0.692);
  margin:30px 0px;

}
.recipe-editor-container button.close{
  background-color: rgba(211, 206, 206, 0.897);
  position: absolute;
  width:30px;
  height:30px;
  display: flex;
  place-items: center;
  text-align:center;
  top:20px;
  font-size: 15px;
  line-height: 30px;
  right:20px;
  border-radius: 50%;
  transition: .3s background-color ease;
}
.recipe-editor-container button.close:hover{
  background-color: rgba(0,0,0,.3);
}

.recipe-editor-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  /* background-color: red; */
  place-items: center;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
}
.recipe-editor-grid label {
  margin-bottom: 10px;
  /* margin-left: 150px; */
  justify-self: left;
}
.recipe-editor-grid input {
  margin-bottom: 5px;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.548);
  border-radius: 2px;
  width: 100%;
}
.recipe-editor-grid.ingredients {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 15px;
}
.recipe-editor-grid textarea {
  margin-bottom: 5px;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.541);
  border-radius: 2px;
  resize: none;
  height: 200px;
  width: 100%;
}
input:focus,
textarea:focus {
  outline: none;
}
