.App {
  text-align: center;
  background-color: rgb(242, 242, 250);
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 30% 70%;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}
textarea, input{
  font-family: inherit;
  font-size: inherit;
}